html, body { font-size: 100%; height: 100%;overflow-x:hidden;}

body {
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	background: #F7F7F7;
	color: #333333;
	padding: 0;
	margin: 0;
	position: relative;

}

a, a:visited, a:hover, a:link{
	color:white;
	text-decoration: none;

}


header {
	width: 100%;
	height: 38px;
	background: #3A3F42;
	padding: 0 20px;
	position: relative;
	z-index: 2;
	text-decoration: none;
}

h1{
	font-family:"Arvo";
	font-weight: normal;
	color:black;
	font-size: 25px;
	position:absolute;s
}

h2{
	font-family:"Arvo";
	font-weight: bold;
	color:black;
	position:absolute;

}


form{
	position:absolute;
	top:5px;
	z-index: 3;
	float:right;
	right:110px;
}

#searchbutton{
	z-index: 3;
	position:absolute;
	top:5px;
	right:70px;

}

#cart{
	z-index: 3;
	position:absolute;
	top:10px;
	right:10px;

}

	#cart:hover{
		text-decoration: underline;
	}



.buttons{
	position:relative;
	z-index: 3;
	top:0%;
	text-decoration: none;
	padding-right:100%;


}







#featuredColumn{
	top:55px;
	left:230px;
	right:15%;
	bottom:0px;
	position:absolute;
	z-index:100;
	
	}

#productlist{
	margin-top:70px;
	list-style-type: none;
	padding-left:0px;
}


.product{
	
	border-top: solid;
	border-color: #D4D3CF;
	border-width:1px;
	padding:5px 0px 5px 0px;
}

.price{
	font-family: "LATO";
	float:right;
	padding-right:20px;
}


.featureditems {
	font-family: "LATO";
	font-size: 1.1em;
}

.featureditems, .featureditems:visited{
	position:absolute;
	color: black;
}

	.featureditems:hover{
	
		color:blue;
	}

.thumb{
	padding-right:15px;
	position:relative;
	
	

	}

.atc, .atc:visited{
	font-size: 0.6em;
	padding:5px 30px 5px 30px;
	color:white;
	float:right;
	background-color: #BF1F19;
}

.atc:hover{
	background-color: #009AB0;
	color:white;
}

#pages{
	padding-bottom:50px;
	text-align: center;
	font-family: "LATO";
	font-size:1.1em;
}


	.pagenumbers{
		padding:5px 10px 5px 10px;
		font-family: "LATO";
		color:black;
		
	}

	.pagenumbers:visited{
		color:purple;
	}

	.pagenumbers:hover{
		background-color: #009AB0;
		color:white;
	}

#crumbcontainer{
	padding-top:20px;
}


.breadcrumbs{
	font-family: "LATO";
	font-size: 0.8em;
	color:#787875;
	padding:5px 10px 5px 5px;
}

	.breadcrumbs:visited{
		color:#787875;
	}
	.breadcrumbs:hover{
		background-color: #009AB0;
		color:white;
	}
