.topbar{
	background: #3A3F42;
	height:45px;
	position:absolute;
	top:0px;
	left: 0px;
	right:0px;
	z-index:-1;
}



input{
	position:relative;
	border:solid;
	margin-right:50px;
	display:block;
	
}



button{
	border:solid;
	position:absolute;
	display:block;
	float:right;
	

}