/* Prevents slides from flashing */


#slides {
		
	     display: none
    }

    .container {
    	top:45px;
    	left:0px;
    	position: absolute;
    	margin: 0 0 0 0;
    	z-index:-2;
    }

    
    /* For smaller displays like laptops */


    /* For larger displays */
    @media (min-width: 400px) {
      .container {
        right:0px;
        bottom:0px;
      }
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,.slidesjs-pagination li a:hover.active {
    	background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }
