html{

	
	font-weight: 400;
	font-size: 14px;
	line-height:1.4em;
	color:black;
}

a, a:visited, a:hover, a:link{
	color:white;
	text-decoration: none;

}


ul{
	list-style:none;
}


h1{
	font-family:"Arvo";
	font-weight:700;
	color:black;
	font-size: 25px;
}




nav ul ul{
	
	max-width: 900px;
	position:absolute;
	left:150px;
	top:210px;
	display: none;
}

	nav ul li:hover > ul {
		display:inline-table;
	}






.homecolumn{

	margin-right:1100px;
	max-width: 0px;
	border-left:solid rgba(1,0,0,0); 
	z-index:3;
}


.homebuttons{
	
	font-family: "Lato"; 
	font-size:14px;
	font-weight: 300;
	text-align:center;
	text-decoration:none;
	color:#BF1F19;
	display:block;
	min-width: 100px;
	vertical-align:middle;
	
	width:100px;
	height:100px;
	border-radius:50px;
	
	
	line-height:1.4em;	
	background:#BF1F19;
	margin-bottom: 50px;

}

	.homebuttons:hover{
		
		text-decoration:none;
		background:#232ACC
	}



.subbutton{

	font-family: "Lato"; 
	font-size:14px;
	font-weight: 300;
	text-align:center;
	text-decoration:none;

	margin:0px 20px 20px 20px;
	

	display: inline-block;

	width:100px;
	height:100px;

	border-radius:50px;

		
	color:#BF1F19;
	line-height:100px;	
	background:#BF1F19;
	float:left;

	

}

	.subbutton:hover{
		
		text-decoration:none;
		background:#232ACC
	}

