html, body { font-size: 100%; height: 100%;overflow-x:hidden;}

body {
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	background: #F7F7F7;
	color: #333333;
	padding: 0;
	margin: 0;
	position: relative;

}

a, a:visited, a:hover, a:link{
	color:white;
	list-style: none;

}

.pLink{
	color:#366DFF;
	text-decoration: none;
	list-style: none;

}

	.pLink:visited{
		color:#6E18FF;
		text-decoration: none;
		list-style: none;
	}

	.pLink:hover{
		color:#009AB0;
		text-decoration: none;
		list-style: none;
	}

header {
	width: 100%;
	height: 38px;
	background: #3A3F42;
	padding: 0 20px;
	position: relative;
	z-index: 2;
	text-decoration: none;
}

h1{
	font-family:"Arvo";
	font-weight: normal;
	color:black;
	font-size: 25px;
	position:absolute;
	top:-10;
}


form{
	position:absolute;
	top:5px;
	z-index: 3;
	float:right;
	right:130px;
}

#searchbutton{
	z-index: 3;
	position:absolute;
	top:5px;
	right:70px;

}

#cart{
	z-index: 3;
	position:absolute;
	top:10px;
	right:10px;

}

	#cart:hover{
		text-decoration: underline;
	}



.buttons{
	position:relative;
	z-index: 3;
	top:0%;
	text-decoration: none;
	padding-right:100%;


}

#wrapper {
	top:37px;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
}
	#canvas { 
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #cde7f2;
		background-image: url('http://placehold.it/1920x1080');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;
	}


.change1, .change2, .change3, .change4{
	position:relative;
	top:95%;
	float:right;
	margin-right:10px;
	background-color: gray;
	width:20px;
	height:20px;
	right:0%;
	z-index: 5;

	}


	.change1:visited, .change2:visited, .change3:visited, .change4:visited{
		color:gray;
	}

	.change1:hover, .change2:hover, .change3:hover, .change4:hover{
		color:#009AB0;
		background-color:#009AB0;

	}
	h2{
		font-family:"Arvo";
	}
	#cartColumn{
	top:40px;
	left:230px;
	right:0%;
	bottom:0px;
	position:absolute;
	z-index:5;
	right:35%;
	font-size: 10px;
	}

	.category{
	padding-top: 2px;
	padding-bottom:2px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 50px;
	text-align: left;
	background-color:#3A3F42;
	height:26px;
	color: white;
	font-family: "LATO";
	font-size: 10px;

	}

	.stock{
	margin-right: 16px;
	padding-left:65px;
	}

	.payment{
	padding-left: 80px;
	}

	.cartitem{
	margin-left:0px;
	padding-right:65px;
	list-style: none;
	border-top: solid;
	border-color: #D4D3CF;
	border-width:1px;
	padding:4px 0px 10px 0px;
	}

	#incart{
	right: 0%;
	padding-left:0px;
	}

	.tb1{
	height:10px;
	width: 25px;
	font-size:9px;
	margin-left:70px;

	}

	.tb2{
	height:10px;
	width:72px;
	margin-right: 220px;
	}

	#calculate{
	margin-top: 20px;
	margin-bottom: 20px;
	}

	.removefromcart{
	margin-left: 100px;
	padding-right: 35px;
	width:20px;
	font-size: 8px;
	text-align: left;
	}


	#shipping{
	top:150px;
	position:absolute;
	left:230px;
	font-size:10px;
	margin-top: 20px;
	background-color: #F7F7F7;
	}

	.postal{
	top:30px;
	position: absolute;
	padding-top: 4px;
	padding-bottom:0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 0px;
	margin-left: 110px;
	margin-top:0px;
	top:10px;
	text-align: center;
	background-color:#3A3F42;
	height:15px;
	color: white;
	font-family: "LATO";
	font-size: 10px;

	}

	.total{
	padding-top: 4px;
	padding-bottom:4px;
	padding-left: 10px;
	padding-right: 10px;
	position:absolute;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 15px;
	background-color:#3A3F42;
	height:15px;
	color: white;
	font-family: "LATO";

	}

	.totalprice{
	font-size: 18px;
	margin-left: 100px;
	margin-top: 5px;
	position:absolute;
	border:solid;
	border-width:1px;
	border-color:grey;
	padding-left: 20px;
	padding-right: 20px;
	}

	#searchButton{
	top:7px;
	right:73px;
	position:absolute;
	background-color: red;
	font-family: "LATO";
	font-size:0.8em;
	color:white;
	z-index:5;
	padding:6px 8px 5px 8px;
}

#searchButton{
	background-color: #009AB0;
	font-family: "LATO";
	font-size:0.7em;

	
}