html, body { font-size: 100%; height: 100%;overflow-x:hidden;}

body {
	font-family: "LATO";
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	background: #F7F7F7;
	color: #333333;
	padding: 0;
	margin: 0;
	position: relative;


}

a, a:visited, a:hover, a:link{
	color:white;
	list-style: none;
	text-decoration: none;
}

.pLink{
	color:#366DFF;
	text-decoration: none;
	list-style: none;

}

	.pLink:visited{
		color:#6E18FF;
		text-decoration: none;
		list-style: none;
	}

	.pLink:hover{
		color:#009AB0;
		text-decoration: none;
		list-style: none;
	}




form{
	position:absolute;
	top:5px;
	z-index: 3;
	float:right;
	right:130px;
}

#searchbutton{
	z-index: 3;
	position:absolute;
	top:5px;
	right:70px;

}




.buttons{
	position:relative;
	z-index: 3;
	top:0%;
	text-decoration: none;
	padding-right:100%;


}

	h2{
		font-family:"Arvo";
	}
	#cartColumn{
		top:40px;
		left:200px;
		bottom:0px;
		position:absolute;
		z-index:1;
		right:15%;

	}



	#category{
		background-color: #3A3F42;
		padding-bottom:10px;
		padding-top:5px;

	}

	#incart{
		right: 0px;
		padding-left:0px;
		margin-top:0px;
	}

	.cost{
		font-size: 12px;
		float:right;
		padding-right:15px;
		margin-top: 8px;
	}

	.cartitem{
		margin-left:0px;
		padding-right:65px;
		margin-bottom:25px;
		list-style: none;
		border-top: solid;
		border-color: #D4D3CF;
		border-width:1px;
		padding:4px 0px 10px 0px;
	}

	.qtybox{
		float:right;
		height:20px;
		width: 25px;
		font-size:12px;
		padding-right:10px;
		margin-right:30px;
	}

	.stock{
		float:right;
		font-size: 12px;
		margin-right: 37px;
		margin-top:8px;
	}


	.removefromcart{
		float:right;
		margin-top:4px;
		margin-right:25px;
		padding-right: 45px;
		width:20px;
		font-size: 10px;
		text-align: left;
	}


	#shipping{
		top:200px;
		position:relative;
		right:0px;
		margin-top: 20px;
	}

	.postal{
		top:30px;
		padding-bottom:3px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		background-color:#3A3F42;
		color: white;
		font-family: "LATO";
		font-size:12px;
	}

	.postalentry{
		padding-top:2px;
		width:80px;
	}

	.total{
		float:right;
		padding-top: 6px;
		padding-left: 10px;
		padding-right: 10px;
		margin-right:5px;
		font-size: 12px;
		background-color:#3A3F42;
		height:15px;
		color: white;
		font-family: "LATO";
		z-index:5;

	}

	.totalprice{
		float:right;
		font-size: 18px;
		border-width:1px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 4px;
		margin-right:10px;
		background-color: white;
	}

	#shippingbg{
		top:500px;
		padding-top:4px;
		padding-bottom:4px;
		background-color: #3A3F42;
	}

