html, body { font-size: 100%; height: 100%;overflow-x:hidden;}

body {
	font-family: "LATO";
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	background: #F7F7F7;
	color: #333333;
	padding: 0;
	margin: 0;
	position: relative;

}

a, a:visited, a:hover, a:link{
	color:white;
	text-decoration: none;

}



form{
	position:absolute;
	top:5px;
	z-index: 3;
	float:right;
	right:130px;
}



.buttons{
	position:relative;
	z-index: 3;
	top:0%;
	text-decoration: none;
	padding-right:100%;


}

#wrapper {
	top:37px;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
}
	#canvas { 
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #cde7f2;
		background-image: url('./img/Munny.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;
	}



	.invoicecolumn{
		min-width: 295px;
		position:absolute;
		top:50px;
		left:200px;
	}

	#ty{
	font-family: "LATO";
	font-size: 25px;
	border-bottom: solid;
	border-color: #D4D3CF;
	border-width:2px;
	top:50px;
	
	list-style: none;
	
	}

	#tytext{
	top:100px;
	max-width: 600px;
	line-height: 1.8em;

	}


	.Final{
	font-family:"LATO";

	
	padding: 0px 50px 0px 50px;
	border-bottom: solid;
	border-color: #D4D3CF;
	border-width:2px;
	bottom:200px;
	margin: 0px 0px 0px 10px;
	}


	#boughtitems{
	list-style: none;
	left:0px;
	padding-left:0px;
	}

	.category{
	font-size: 12px;
	margin-right:50px;

	}



.items, .items:visited{
	color: black;
	left:0px;
}



#link1, #link1:visited{
	font-size: 12px;
	margin-right:5px;
	color:black;
}

	.link1:hover{
		color:#009AB0
	}




#link2, #link2:visited{
	font-size: 12px;
	margin-right:5px;
	color:black;
}

	.link2:hover{
		color:#009AB0;
	}

#about{
	left:50px;
	padding: 5px 15px 5px 15px;
	font-size: 12px;
	background-color: #009AB0;
	position:absolute;
	top:430px;
}